<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <p>
        <a href="{{ url_for('followers_app.auth') }}">Connect Your Twitter Account and see Your followers.</a>
    </p>
</body>
</html>
