<table border="1">
    <tr>
        <th>Name</th>
        <th>No.</th>
    </tr>
    {% for key, value in data.items() %}
    <tr>
        <th align="left">{{key}}</th>
        <th>{{value}}</th>
    </tr>
    {% endfor %}
</table>

<p></p><a href="{{ url_for('followers_app.followers_json') }}">See as JSON</a></p>